.git
.github
node_modules
vendor
public/build
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
bootstrap/cache/*
.env
.env.*
!.env.example
*.log
docker-compose*.yml
Homestead.*
docs/
tests/
.phpunit.cache
.phpunit.result.cache
